<div *ngIf="contacts$ | async as contacts" class="contact-cards-container" fxLayout="row wrap" fxLayoutGap="8px grid">
  <div fxFlex="33%" fxFlex.xs="100%" fxFlex.sm="50%" *ngFor="let contact of contacts">
    <mat-card>
      <mat-card-header>
        <div mat-card-avatar class="contact-header-image"
             [ngStyle]="{'background-image': 'url(' + contact.picture + ')'}"></div>
        <mat-card-title> {{contact.lastName | uppercase}} {{contact.firstName}}</mat-card-title>
        <mat-card-subtitle> {{contact.company?.name}}</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <mat-list>
          <div mat-subheader>{{'contact' | translate}}</div>
          <mat-list-item>
            <mat-icon mat-list-icon>email</mat-icon>
            <div mat-line>{{contact.email}}</div>
          </mat-list-item>
          <mat-list-item>
            <mat-icon mat-list-icon>phone</mat-icon>
            <div mat-line>{{mainPhone(contact)}}</div>
          </mat-list-item>
          <mat-list-item>
            <mat-icon mat-list-icon>web</mat-icon>
            <div mat-line>{{contact.website}}</div>
          </mat-list-item>
          <mat-divider></mat-divider>
          <div mat-subheader>{{'address' | translate}}</div>
          <mat-list-item>
            <mat-icon mat-list-icon>home</mat-icon>
            <div mat-line>{{address(contact.address)}}</div>
          </mat-list-item>
          <mat-divider></mat-divider>
          <!--<div *ngIf="contact.birthDate">
            <div mat-subheader>Birthdate</div>
            <mat-list-item>
              <mat-icon mat-list-icon>date_range</mat-icon>
              <div mat-line>{{contact.birthDate | date}}</div>
            </mat-list-item>
          </div>-->
        </mat-list>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button>{{'update' |translate}}</button>
        <button mat-button>{{'delete' |translate}}</button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>

